#---- slim app ---------

app/cache/*
app/logs/*
vendor/*
composer.phar
*.log

# -- Ides ------------------------------
# phpstorm
.idea/

# sublimetext
/*.sublime-project
*.sublime-workspace

# -- SO ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
 
# Linux
.*
!.gitignore
!.htaccess
*~
 
# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes